.btn-add-user {
    background-color: rgb(103, 115, 241);
    border: 1px solid rgb(103, 115, 241);
    border-radius: 10px;
    color: white;
    margin-top: 10px;
    height: 60px;
    width: 100%;
}