.display-flex {
    display: flex;
    flex-direction: column !important;
}

.user-list-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

.user-list-item {
    margin: 10px 25px;
}

.user-card {
    background-color: white;
    height: 290px;
    width: 220px;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}

.user-card .profile {
    width: 100%;
    text-align: center;
}

.user-card .profile .profile-image {
    width: 90px;
    padding-top: 25px;
    margin-left: 65px;
}

.user-card .profile .icon-dot {
    color: #ababab;
    font-size: 34px;
    margin-left: 14px;
    margin-top: -45px;
}

.user-card .profile .box-status {
    background-color: rgba(76, 91, 237, 1);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    text-align: right;
    margin-left: 140px;
    margin-top: -30px;
    color: white;
    text-align: center;
    padding-top: 8px;
    position: relative;
    font-weight: bold;
}

.user-card .profile-body {
    height: 120px;
    padding-top: 10px;
    text-align: center;
}

.user-card .profile-body .name {
    font-size: 1.2rem;
}

.user-card .profile-body .title {
    font-size: 0.9rem;
    color: rgba(76, 91, 237, 1);
}

.user-card .footer {
    text-align: center;
}

.user-card .footer .icon-mail {
    background-color: rgba(246, 238, 255, 1) !important;
    color: rgba(100, 24, 195, 1);
    padding: 2px;
    border-radius: 10px;
    font-size: 25px;
    margin-left: 9px;
}

.user-card .footer .email {
    font-size: 0.9rem;
}

.pagination-item {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}