
.display-flex{
  display: flex;
  flex-direction: column !important;
}
.margin-right{
  /* margin-left: 300px; */
    background-color: white;
    height: 285px;
    width: 212px;
    border-radius: 10px;
}

.profile-size{
  width: 95px !important;
  padding-top: 29px;
  margin-left: 57px;
}
.icon-dot{
  color: #ababab;
  font-size: 34px;
  margin-left: 14px;
  margin-bottom: 12px;

}
.box{
  background-color: rgba(76, 91, 237, 1);
    width: 45px;
    height: 45px;
    border-radius: 10px;
    text-align: right;
    margin-left: 130px;
    /* padding-right: 40px; */
    margin-bottom: 22px;
    margin-top: -20px;
    color: white;
    padding-right: 6px;
    padding-top: 8px;
    position: relative;
}
.title{
    margin: 0px; 
    text-align: center;
    margin-top: -17px;
    font-size: 17px;
}
.sub-title{
  text-align: center;
  font-size: 14px;
  color: rgba(76, 91, 237, 1);
}
.footer{
  margin-top: 20px;
}
.email-width{
  width: 80%;
  font-size: 13px;
  margin-right:15px;
  padding-top: 5px;
}
.icon-width{
  width: 20% !important;
  
}
.icon-mail{
  background-color: rgba(246, 238, 255, 1) !important;
  color: rgba(100, 24, 195, 1);
  padding: 7px;
  border-radius: 10px;
  /* width: 15px; */
  font-size: 20px;
  margin-left: 9px;
}
.m-b{
    margin-bottom: 10px;
}