@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";


.mainLoginInput{
  width: 338px;
  height: 55.00px;
  border-radius: 10px;
  border-color: white !important;
  font-size: 30px !important;
  color: black !important;

}

.mainLoginInput::-webkit-input-placeholder { 
font-family: FontAwesome;
border-color: white !important;
color: rgb(111, 111, 226);

}


