.search-container {
    margin-top: 10px;
}
.search-container .search-input {
    width: 100%;
    height: 60px;
    border-radius: 0px 10px 10px 0px;
    border: none;
    font-size: 1.4rem;
    color: black;
}

.search-container .input-group-text {
    height: 60px;
    background-color: white;
    border: none;
}

.search-container .input-group-text::-webkit-input-placeholder { 
    color: lightgray;
    font-weight: normal;
}