.gruppe1 {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 30.00px;
  height: 30.00px;
  left: calc(100% - 130px);
  top: 40px;

}

.gruppe1 .vectord8cec9a7 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(255, 223, 107, 1);
    stroke: rgba(0, 0, 0, 0);
        stroke-width: 1.00px;
        stroke-linecap: butt;
    box-shadow: none;
    width: 32.00px;
  height: 32.00px;
  left: -1.00px;
  top: -1.00px;

}

.gruppe1 .vector080dede6 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(0, 0, 0, 0);
        stroke-width: 1.00px;
        stroke-linecap: butt;
    box-shadow: none;
    width: 13.37px;
  height: 4.84px;
  left: 8.32px;
  top: 21.89px;

}

.gruppe1 .vectorb3f5c700 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(0, 0, 0, 0);
        stroke-width: 1.00px;
        stroke-linecap: butt;
    box-shadow: none;
    width: 23.47px;
  height: 17.63px;
  left: 3.26px;
  top: 3.79px;

}