.dashboard1 {
    display: block;
    position: relative;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 28.00px;
  height: 28.00px;
  left: 0.00px;
  top: 0.00px;

}
.dashboard1 .dashboard1Backgroundmaska12c54db {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: transparent;
    stroke: rgba(0, 0, 0, 0);
        stroke-width: 1.00px;
        stroke-linecap: butt;
    box-shadow: none;
    width: 30.00px;
  height: 30.00px;
  left: -1.00px;
  top: -1.00px;

}
.dashboard1 .vector00d97d42 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(76, 91, 237, 1);
    stroke: rgba(0, 0, 0, 0);
        stroke-width: 1.00px;
        stroke-linecap: butt;
    box-shadow: none;
    width: 25.33px;
  height: 21.83px;
  left: 1.33px;
  top: 1.33px;

}
.dashboard1 .vectoracedadf2 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(76, 91, 237, 1);
    stroke: rgba(0, 0, 0, 0);
        stroke-width: 1.00px;
        stroke-linecap: butt;
    box-shadow: none;
    width: 4.33px;
  height: 4.33px;
  left: 11.83px;
  top: 11.83px;
}