.xa1a0ee8f {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(45.00deg);
    -webkit-transform: rotate(45.00deg);
    transform: rotate(45.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      fill: rgba(255, 255, 255, 1);
      stroke: rgba(0, 0, 0, 0);
          stroke-width: 1.00px;
          stroke-linecap: butt;
      box-shadow: none;
      width: 22.00px;
    height: 22.00px;
    left: 20.00px;
    top: 12.50px;
}