.app {
    font-family: 'Cairo', sans-serif;
    align-items: center;
    justify-content: center;
    background-image: url("background/background.jpeg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: fixed;
    width: 100%;
    height: 100%;
}

.login-form {
    width: 450px;
    height: 550px;
    border-radius: 15px;
    background-position: center;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.login-header {
    text-align: center;
}

.login-header .header-image {
    margin-top: 25px;
    width: 230px;
}

.login-header .title {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

.login-header .subtitle {
    font-size: 14px;
    margin-top: 20px;
}

.list-container {
    display: flex;
}

.error {
    color: red;
    font-size: 12px;
}

.login-body .input-container, .button-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    margin-top: 20px;
    margin-left: 8%;
    margin-right: 8%;
}

.input-container .label {
    font-size: 14px;
}

.input-container input {
    width: 100%;
    border-radius: 5px;
    height: 50px;
    padding: 5px;
    font-size: 1.2em;
    border: 1px solid lightgray;
}

.button-container button[type="submit"] {
    cursor: pointer;
    font-size: 1.2rem;
    background: #1320a1;
    border: none;
    border-radius: 10px;
    color: rgb(236, 235, 241);
    height: 50px;
}

.button-container button[type="submit"]:hover {
    background: #6a6adf;
}

.button-container button[type="submit"]:active {
    background: #1320a1;
}

.login-body .form .forgot {
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
}